@model List<LessonToListDTO>

<link href="~/css/but.css" rel="stylesheet" />

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">School</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Lessons</li>
        </ol>
        <div class="grid-button">
            <a asp-controller="Lesson" asp-action="AddLesson" class="btn btn-primary">Add Lesson</a>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Lessons
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Lesson Code</th>
                            <th>Lesson Name</th>
                            <th>Class</th>
                            <th>Teacher Name</th>
                            <th>Teacher Surname</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Lesson Code</th>
                            <th>Lesson Name</th>
                            <th>Class</th>
                            <th>Teacher Name</th>
                            <th>Teacher Surname</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var lesson in Model)
                        {
                            <tr>
                                <td>@lesson.LessonCode</td>
                                <td>@lesson.LessonName</td>
                                <td>@lesson.Class</td>
                                <td>@lesson.LessonTeacherName</td>
                                <td>@lesson.LessonTeacherSurname</td>
                                <td>@Html.ActionLink("Edit", "UpdateLesson", "Lesson", new { id = lesson.LessonId }, new { @class = "btn btn-success" })</td>
                                <td>@Html.ActionLink("Delete", "Delete", "Lesson", new { id = lesson.LessonId }, new { @class = "btn btn-danger" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>